* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fdf0f0;
  color: #333;
}

header {
  background-color: #e24a4a;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-izq, .nav-centro, .nav-der {
  flex: 1;
  text-align: center;
}

.nav-izq {
  text-align: left;
}

.nav-der {
  text-align: right;
}


nav a:hover {
  text-decoration: underline;
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}


section {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: auto;
}
.sobre {
  text-align: left;
}

h2 {
  margin-bottom: 1rem;
  color: #e24a4a;
}
.red-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


.proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.proyecto {
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}



footer {
  text-align: center;
  padding: 2rem;
  background-color: #e24a4a;
  color: #ffffff;
}

