* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #4A90E2;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 3rem 2rem;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 1rem;
  color: #4A90E2;
}
.red-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


.proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.proyecto {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}



footer {
  text-align: center;
  padding: 2rem;
  background-color: #4A90E2;
  color: #ffffff;
}
